.searchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid silver;


    .searchBar_logos, .searchBar_icons {
        display: flex;
        flex-direction: row;
    }

    .searchBar_logos > .icon {
        width: 32px;
        height: 32px;
    }
    .searchBar_logos > .logo {
        height: 36px;
        width: 80px;
    }

    .searchBar_logos {
        width: 20%;
        justify-content: space-between;
    }

    .searchBar_icons {
        width: 20%;
        justify-content: space-around;
    
    }
        

    input {
        text-align: center;
    }
}